html{
    margin: 0;
    padding: 0
}
#introduction{
    position: absolute;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.46);
    display: flex;
    align-items: center;
    justify-content: center;
}
#char{
    height: auto;
    width:30vw;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: rgba(234, 255, 6, 0.37)
}
#name {
    font-size:40px
}
#story {
    font-size:27px
}
#btn-row{
    margin-top: 1rem;
    display: flex;
    justify-content: end
}
#btn-start{
    padding: 10px 15px;
    font-size: 17px;
    border-radius: 15px;
    cursor: pointer
}

#btn-start:hover{
    box-shadow: inset 0 0 10px #000000;
}

.display-none{
    opacity: 0
}

#commands{
    position: absolute;
    top: 5px;
    right: 5px;
    color: white;
}
.cmd-camera{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.cmd-box{
    padding: 0.5rem;
    border:1px solid white;
    font-size: 20;
    color: white;
    width: min-content;
    width: 20px !important;
    height: 20px !important;
    text-align: center;
    display: flex;
    align-items:center;
    justify-content: center;
}
.cmd-text{
    margin-left: 10px;
    color: white;
}

.btn-exit{
    background-color: transparent;
    color: red;
    font-size: 20px;
    border: none;
    cursor: pointer;
    top: 14px;
    left: 25px;
}

#enemy-life{
    position: absolute;
    background-color: transparent;
    color: white;
    font-size: 20px;
    border: none;
    cursor: pointer;
    top:35px;
    right: 290px;
}
#enemy-life2{
    position: absolute;
    background-color: transparent;
    color: white;
    font-size: 20px;
    border: none;
    cursor: pointer;
    top:65px;
    right: 294px;
}

#btn-restart {
    position: absolute;
    top: 20px;
    right: 47%;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #0c8d1b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#btn-restart:hover {
    background-color: #0056b3;
}


#light-controls{
    position: absolute;
    color: white;
    top:10px;
    right:205px;
    display:flex;
}
#light-intensity{
    align-self: center;
    accent-color: white;
    
}
#light-intensity1{
    font-size: 17px;
    align-self: center;

}

#btn-shadows {
    position: absolute;
    top:170px;
    right: 2px;
    margin-left: 20px;
    padding: 5px 10px;
    font-size: 18px;
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid white;
    transition: background-color 0.3s ease; /* Smooth transition for background color change */
    cursor: pointer;
    color:white
}
#btn-fog{
    position: absolute;
    top:218px;
    right: 55px;
    margin-left: 20px;
    padding: 5px 10px;
    font-size: 18px;
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid white;
    transition: background-color 0.3s ease; /* Smooth transition for background color change */
    cursor: pointer;
    color:white

}

#btn-shadows:hover,  #btn-fog:hover{
    background-color: rgba(255, 255, 255, 0.3); /* Slight grey color */
}

